{% extends 'base.html' %}
{% block mystyle %}
<style>
    .box {
        width: 100%;
        height: 100px;
        background: rgba(0, 0, 255, 0.5);
        border-radius: 2%;
    }

    .pill {
        background: green;
        width: 100%;
        height: 40px;
        line-height: 40px;
        border-radius: 25px;
        color: white;
        padding-left: 30%;
    }

    .photo {
        border-radius: 50%;
        height: 90px;
        width: 90px;
        border: 7px solid white;
        position: relative;
        top: -20px
    }

    .online {
        border-radius: 50%;
        height: 70px;
        width: 70px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 0 auto;
    }

    .dot {
        background: rgb(11, 247, 11);
        height: 10px;
        width: 10px;
        border-radius: 50%;
        position: relative;
        top: -17px;
        left: 30px;
    }
</style>
{% endblock %}
{% block mycode %}
{% load static %}

<div class="row">
    <div class="col-md-12">
        <br /><br /><br /><br />
    </div>
</div>
<div class="row ml-5">
    <div class="col-md-3" style="position: sticky;">
        <div class="row box">
            <div class="col-md-5">
                {% if profile.profile_pic %}
                <img src="/media/{{profile.profile_pic}}" class="photo">

                {% else %}
                <img src="/media/no_image.png" alt="" class="photo">
                {% endif %}
            </div>
            <div class="col-md-7">
                <h5><a href="" class="text-white">{{user.first_name}} {{user.last_name}}</a></h5>
                <a href="" class="text-white"><i class="ion ion-android-person-add"></i> {{fff}} followers</a>
            </div>
        </div>
        <div><br /> <br /> <br /></div>
        <div class="row">
            <div class="col-md-12 sticky-top">
                <img src="{% static 'images/newsfeed.png' %}" alt="" style="height:20px;">&nbsp;&nbsp;&nbsp;
                <a href="{% url 'project:time' %}" style="color:grey">Timeline</a>
                <hr />
                <img src="{% static 'images/nearby.png' %}" alt="" style="height:16px;">&nbsp;&nbsp;
                <a href="{% url 'project:friends' %}" style="color:grey">Friends</a>
                <hr />
                <img src="{% static 'images/messages.jpg' %}" alt="" style="height:18px;">
                <a href="{% url 'project:messages' %}" style="color:grey">Messages</a>
                <hr />
                <img src="{% static 'images/settings.png' %}" alt="" style="height:18px;">
                <a href="{% url 'project:basic' %}" style="color:grey">Settings</a>
                <hr />
                <img src="{% static 'images/Signout.png' %}" alt="" style="height:18px;">
                <a href="{% url 'project:logout' %}" style="color:grey">Logout</a>
                <hr />
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-1">
                    {% if profile.profile_pic %}
                    <img src="/media/{{profile.profile_pic}}" style="border-radius:50%; height:60px; width:60px;">

                    {% else %}
                    <img src="/media/no_image.png" alt="" style="border-radius:50%; height:60px; width:60px;">
                    {% endif %}
                    <!-- <img src="/media/{{profile.profile_pic}}" style="border-radius:50%; height:60px; width:60px;"> -->
                </div>
                <div class="col-md-5">
                    <textarea cols="40" rows="2" class="form-control ml-2" name="content"></textarea>
                </div>
                <div class="col-md-3">
                    <ul class="list-inline" type=none>
                        <li>
                            <i class="far fa-images text-dark ml-2 mt-4" style="float:left;position:relative;">
                                <input type="file" name="media" class="form-control"
                                    style="height:10px;width:40px;position:absolute;top:0px;opacity:0.1;">
                            </i>
                        </li>
                        <li><a href=""><i class="fas fa-video text-dark ml-2 mt-4" style="float:left;"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary text-white mt-2" type="submit" name="postupload"
                        style="border-radius:25px;width:100%;">
                        <h6>Publish</h6>
                    </button>
                </div>
            </div>
        </form>
        <hr class="mb-4 mt-3" />
        {% for i in all %}
        <div class="row mb-3" style="background:whitesmoke">
            <div class="col-md-12 mb-3 mt-3">

                <img src="/media/{{i.media}}" alt="" style="height:400px; width:100%; background-size: cover">
                <div class="row mt-4">
                    <div class="col-md-2 ">
                        {% if i.user.profile_pic %}
                        <img src="/media/{{i.user.profile_pic}}" style="border-radius:50%; height:60px; width:60px;">

                        {% else %}
                        <img src="/media/no_image.png" alt="" style="border-radius:50%; height:60px; width:60px;">
                        {% endif %}
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-9">
                                <p><a href=""><span class="m-0"
                                            style="font-size:20px; font-weight: bold;">{{i.user.user.first_name}}
                                            {{i.user.user.last_name}}</span></a>
                                    &nbsp;&nbsp;<span style="color:chartreuse;">following</span></p>
                                <p class="text-muted">{{i.upload_on}}</p>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <a onclick="like('{{i.id}}')"><i class="fas fa-thumbs-up p-{{i.id}}"
                                                style="font-size:25px;"></i></a>
                                    </div>
                                    <div class="col-md-6">
                                        <script>
                                                        $(function(){  
                                                            
                                                            $.ajax({
                                                                url:'{% url "project:view_likes" %}',
                                                                data:{pid:'{{i.id}}'},
                                                                type:'get',
                                                                success:function(data){  
                                                                       
                                                                    $('.t-{{i.id}}').html(data.comm+' likes');
                                                                    $('.p-{{i.id}}').addClass(data.color);
                                                                    }
                                                            })
                                                        });
                                        </script>
                                        <span class="t-{{i.id}}"></span>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <p class="text-muted">{{i.content}}</p>
                        <hr />
                        {% for j in comm %}
                        {% if j.postid.id == i.id%}
                        <div class="row">
                            <div class="col-md-2">
                                <img src="/media/{{j.commenterid.profile_pic}}" alt=""
                                    style="border-radius:50%; height:60px; width:60px;">
                            </div>
                            <div class="col-md-10">
                                <p class="text-muted mt-2">{{j.comment}}</p>
                                <small class="float-right">{{j.create_date}}</small>

                            </div>
                        </div>
                        <hr>
                        {% endif %}
                        {% endfor %}

                        <form action="{% url 'project:comments'%}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-9">
                                    <input type="hidden" name="postid" value="{{i.id}}">
                                    <input type="hidden" name="userid" value="{{request.user.id}}">
                                    <input type="text" name="comment" id="" class="form-control">
                                </div>
                                <div class="col-md-3">
                                    <input type="submit" name="" id="" class="btn btn-primary form-control">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-2">
        <h6 class="pill mt-2">Chat Online</h6>
        <hr class="mt-4" />
        <div class="row">
            <div class="col-md-6 mx-auto">
                {% for i in onlines %}
                <a href="{% url 'project:user_inbox'%}?id={{i.user.id}}">
                    {% if i.profile_pic %}
                    <img src="/media/{{i.profile_pic}}" alt="" class="online">
                    {% else %}
                    <img src="/media/no_image.png" alt="" class="online">
                    {% endif %}
                    <div class="dot m-0"></div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    function like(pid) {
        $.ajax({
            url: '{% url "project:like_unlike" %}',
            data: { pid: pid, uid: '{{request.user.id}}' },
            type: 'get',
            success: function (data) {
                if (data.action == "Liked") {
                    $('.p-' + pid).addClass('text-primary').removeClass('text-secondary');
                    $('.t-' + pid).html(data.all + ' likes');

                } else {
                    $('.p-' + pid).addClass('text-secondary').removeClass('text-primary');
                    $('.t-' + pid).html(data.all + ' likes');
                }
            }
        })
    }


    function comment(cid) {
        $.ajax({
            url: '{% url "project:comments" %}',
            data: { cid: cid, uid: '{{request.user.id}}' },
            type: 'get',
            success: function (data) {

            }
        })
    }
</script>


{% endblock %}